li.active{
    font-weight: bold;
}

nav {
    margin-bottom: 2em;
}


.rowColorCateory3_6ans{
    background: #ffe6f2;
}
.rowColorCateory6_8ans{
    background: #ffffeb;

}
.rowColorCateoryFamille{
    background: #e3efe3;

}
.rowColorCateoryAmateur, .empruntRetard{
    background: #ffe7e7;

}
.rowColorCateoryExpert{
    background: #d0d0d0;

}
.rowColorCateorySolo_ou_a_2{
    background: #ffeee7;

}
.rowColorCateoryAmbiance{
    background: #ebf1ff;

}

tbody tr td {
    padding: 0.4rem 1rem !important;
}

.th-lg{
    min-width: 12rem !important;
}

.select2-container{
    width: 100% !important;
}