{% extends 'base.html.twig' %}
{% block title %}Emprunts{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% include 'menu.html.twig' %}
                <br>
                <div class="row">
                    <div class="col">
                        <p>Emprunts</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}