{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% include 'menu.html.twig' %}
                <br>
                <div class="row">
                    <div class="col" >
                        <h3 class="display-4 text-center">Bienvenue !</h3>
                        <br/>
                        <p class="text-center " > Vous pourrez dans cette application gérer les adhertens,jeux,consommables et réaliser des emprunts ainsi que des achats de consommables.</p>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col" >
                        <h3 class="display-4 text-center">Les {{ nbtop }} jeux les plus populaires</h3>
                    </div>
                </div>
                <br/>
                <div class="d-flex justify-content-center">
                        <table class="table table-striped w-auto" id="TopEmpruntTable">
                            <thead>
                            <tr class="">
                                <th class="">Nom</th>
                                <th class="">Nombre d'emprunt</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ tbody|raw }}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}